:root {
  --ui-background-color: rgba(55, 190, 252, 0.61);
  --ui-dark-green: rgb(6, 114, 78);
  --ui-dark-shell: #363f3a;
  --ui-shadow: rgba(21, 24, 26, 0.205);
}

/* ------------------------
    TURTLE 
---------------------------*/

.circle {
  position: absolute;
  border: solid 1px var(--ui-dark-green);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--ui-dark-green);
}


/*turtle*/

.turtle {
  width: 200px;
  height: 200px;
  animation: walking-turtle-03 2s ease-in-out infinite alternate;
  position: relative;
  top: 58%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.turtle__head {
  width: 45px;
  height: 60px;
  border-radius: 50%;
  background-color: #82C49F;
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* turtle eyes */
.turtle__head:before,
.turtle__head:after {
  top: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--ui-dark-shell);
  content: '';
  position: absolute;
}
.turtle__head::before {
  left: 8px;
}
.turtle__head::after {
  right: 8px;
}

/* red spots on head */
.turtle__spot:before,
.turtle__spot:after {
  top: 25px;
  width: 6px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.6;
  content: '';
  position: absolute;
}
.turtle__spot::before {
  left: 4px;
}
.turtle__spot::after {
  right: 4px;
}


.turtle__shadow {
  width: 130px;
  height: 140px;
  background-color: var(--ui-shadow);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: 4px var(--ui-shadow);
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}


.turtle__shell {
  width: 140px;
  height: 150px;
  background-color: var(--ui-dark-shell);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turtle__shell:before,
.turtle__shell:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
}

.turtle__shell:before {
  width: 110px;
  height: 135px;
  background-color: var(--ui-dark-green);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* shell highlight */
.turtle__shell:after {
  width: 50%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  top: 0;
}

.turtle__tail {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 35px solid #84C3A0;
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* turtle legs */
.turtle__legs{
  width: 20px;
  height: 40px;
  border-radius: 40%;
  background-color: #82C49F;
  content: '';
  position: absolute;
}

#top-l, #bot-l{
  left: 20%;
}
#top-r, #bot-r{
  right: 15%;
}
#top-l, #top-r{
  top: 15%;
}
#bot-l, #bot-r{
  bottom: 10%;
}


.slant1{
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: walking-turtle-01 2s ease-in-out infinite alternate;
}

.slant2 {
  transform: translate(-50%, -50%) rotate(45deg);
  animation: walking-turtle-02 2s ease-in-out infinite alternate;
}


/* body {
  width: 100vw;
  height: 100vh;
  background-color: #DEF4E5;
} */

@keyframes walking-turtle-01 {
  0% {
    transform: translate(-50%, -50%) rotate(-40deg)
  }

  25% {
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(-30deg)
  }

  75% {
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(-40deg)
  }
}

@keyframes walking-turtle-02 {
  0% {
    transform: translate(-50%, -50%) rotate(40deg)
  }

  25% {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(35deg)
  }

  75% {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(30deg)
  }
}

@keyframes walking-turtle-03 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg)
  }

  25% {
    transform: translate(-50%, -50%) rotate(3deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(-1deg)
  }

  75% {
    transform: translate(-50%, -50%) rotate(2deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(-1deg)
  }
}

/* ------------------------
    WATER (BACKGROUND) 
---------------------------*/

html, body, #canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
  }
  body {
    background-color: #0078afc7;
  }
  #wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }