:root {
  --ui-background-color: rgb(114, 205, 241);
  --ui-dark-green: rgb(6, 114, 78);
  --ui-light-green: #8be0b3;
  --ui-dark-shell: #363f3a;
  --ui-shadow: rgba(21, 24, 26, 0.205);
}

/* ------------------------
    TURTLE 
---------------------------*/

.turtle {
  width: 200px;
  height: 200px;
  animation: walking-turtle-03 2s ease-in-out infinite alternate;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1000;
}

.turtle__head {
  width: 42px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--ui-light-green);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* turtle eyes */
.turtle__head:before,
.turtle__head:after {
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--ui-dark-shell);
  content: '';
  position: absolute;
}
.turtle__head::before {
  left: 8px;
}
.turtle__head::after {
  right: 8px;
}

/* red spots on head */
.turtle__spot:before,
.turtle__spot:after {
  top: 25px;
  width: 6px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.6;
  content: '';
  position: absolute;
}
.turtle__spot::before {
  left: 4px;
}
.turtle__spot::after {
  right: 4px;
}


.turtle__shadow {
  width: 120px;
  height: 130px;
  background-color: var(--ui-shadow);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: 4px 4px 4px 4px var(--ui-shadow);
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.turtle__head,
.turtle__leg,
.turtle__shell{
  box-shadow: 0px 10px 15px var(--ui-shadow) ;
}


.turtle__shell {
  width: 140px;
  height: 150px;
  background-color: var(--ui-dark-shell);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.turtle__shell:before,
.turtle__shell:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
}

.turtle__shell:before {
  width: 110px;
  height: 135px;
  background-color: var(--ui-dark-green);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* shell highlight */
.turtle__shell:after {
  width: 50%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  top: 0;
}

.turtle__tail {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 35px solid var(--ui-light-green);
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* turtle legs */
#top-l, #bot-l, #top-r, #bot-r{
  width: 20px;
  height: 40px;
  border-radius: 40%;
  background-color: var(--ui-light-green);
  content: '';
  position: absolute;
}

#top-l, #bot-l{
  left: 20%;
}
#top-r, #bot-r{
  right: 10%;
}
#top-l, #top-r{
  top: 20%;
}
#bot-l, #bot-r{
  bottom: 10%;
}


#top-l, #bot-r{
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: walking-turtle-01 1.5s ease-in-out infinite alternate;
}

#top-r, #bot-l {
  transform: translate(-50%, -50%) rotate(45deg);
  animation: walking-turtle-02 1.5s ease-in-out infinite alternate;
}


@keyframes walking-turtle-01 {
  0% {
    transform: translate(-50%, -60%) rotate(-40deg)
  }

  25% {
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(-30deg)
  }

  75% {
    transform: translate(-50%, -50%) rotate(-45deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(-40deg)
  }
}

@keyframes walking-turtle-02 {
  0% {
    transform: translate(-50%, -50%) rotate(40deg)
  }

  25% {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(35deg)
  }

  75% {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(30deg)
  }
}

@keyframes walking-turtle-03 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg)
  }

  25% {
    transform: translate(-50%, -50%) rotate(3deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(-1deg)
  }

  75% {
    transform: translate(-50%, -50%) rotate(5deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(-1deg)
  }
}

/* ------------------------
    WATER (BACKGROUND) 
---------------------------*/

html, body, #canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    -webkit-perspective: 0px;
  }
  body {
    background-color: var(--ui-background-color);
  }
  #wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }



/* ------------------------
    RIPPLE (BACKGROUND) 
---------------------------*/
/* https://codepen.io/daless14/pen/ELFgj */

.ripple,.ripple:before,.ripple:after {
  display:block;
  border-radius:4px;
  width:2px;
  height:2px;
  -webkit-animation:rip 6s infinite ease-out;
}
.ripple {
  position:absolute;
  z-index:-100;
  top:40px;
  left:15px;
}
.ripple:before,.ripple:after {
  content:'';
  position:absolute;
}
.ripple:before {-webkit-animation-delay:.2s;top:5px;left:25px;}
.ripple:after {-webkit-animation-delay:.8s;top:25px;left:0;}
@-webkit-keyframes rip 
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15%  {
    box-shadow:0 0 0 0 var(--ui-background-light),
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 var(--ui-background-light),
               0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 100px var(--ui-background-light),
               0 0 10px 110px transparent,
               0 0 30px 120px var(--ui-background-light),
               0 0 5px 130px transparent;
  }
}


/* second ripple*/
.rim1, .rim2, .rim3, #cursor{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 0em;
  height: 0em;
  border: white .1em solid;
  background: var(--ui-background-color);
}
.rim1 {
  -webkit-animation: expand 4s linear infinite;
}
.rim2 {
  -webkit-animation: expand 4s linear 2s infinite;
}
.rim3 {
  -webkit-animation: expand 4s linear 5s infinite;
}

@-webkit-keyframes expand {
  0% {
    top: calc(50% - .5em);
    left: calc(50% - .5em);
    width: 1em;
    height: 1em;
    border: white .1em solid;
    opacity: 0.5;
  }
  100% {
    top: calc(50% - 5.5em);
    left: calc(50% - 5.5em);
    width: 14em;
    height: 14em;
    border: white .5em solid;
    opacity: 0;
  }
}